@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');
/* font-family: 'Edu NSW ACT Foundation', cursive; */

.nomeFilme{
    font-family: 'Edu NSW ACT Foundation', cursive; 
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    
}

.container {
    flex-flow: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(231, 238, 238);     */
}

.p-30 {
    padding: 30px;
}

#menu li {
    display: flex;
    justify-content: flex-end;
       
}

#menu li a {
    text-decoration: none;
    font-size: 18px;
}

#menu li a:hover {
    color: rgb(153, 0, 0);
}

h1{
    text-align: left;
}

h2{
    text-align: center;
}

img{
    width: 50vw;
    height: 50vh;
}

.filme img{
    width: 50vh;
    height: 30vw;
}

.video{
    display: flex;
    flex-flow: row;
    /* wrap -pula linha */
    justify-content: center;
    align-items: center;
}

.tm-social{
    height: 10vh;
}

.tm-social img {
    width: 15%;
    height: 15%;
}
/* quando colocar p mouse por cima */
.tm-social img:hover{ 
    width: 18%;
    height: 18%;
}

.form label input{
    display: inline;
    padding: 10px;
}

.container form{
    align-items:flex;
}